<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Tambah Faskes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-header text-white bg-secondary">
            <center><h4><b>Tambah Faskes</b></h4></center>
        </div>
        <div class="card-body">
            <div class="justify-content-center">
                <form th:action="@{/faskes/tambah/}" th:object="${faskes}" method="POST">
                    Nama Faskes : <br>
                    <input required class="form-control" type="text" name="namaFaskes" th:value="*{namaFaskes}"/>
                    <br><br>

                    Kuota: <br>
                    <input required class="form-control" type="text" name="kuota" th:value="*{kuota}"/>
                    <br><br>

                    Provinsi : <br>
                    <input required min="0" class="form-control" type="text" name="provinsi" th:value="*{provinsi}"/>
                    <br><br>

                    Kabupaten : <br>
                    <input required class="form-control" type="text" name="kabupaten" th:value="*{kabupaten}"/>
                    <br><br>

                    Jam Mulai : <br>
                    <input required class="form-control" type="time" name="jamMulai" th:value="*{jamMulai}"/>
                    <br><br>

                    Jam Selesai : <br>
                    <input required class="form-control" type="time" name="jamTutup" th:value="*{jamTutup}"/>
                    <br><br>

                    Vaksin : <br>
                    <td>
                        <select th:field="*{vaksin.idVaksin}" class="form-control">
                            <option th:each="vaksin : ${listAllVaksin}"
                                    th:value="${vaksin.idVaksin}"
                                    th:text="${vaksin.jenisVaksin}">
                            </option>
                        </select>
                    </td>
                    <td th:text="${faskes.idFaskes}"></td>
                    <br><br>
                    <a class="btn btn-primary" href="/">Batal</a>
                    <button class="btn btn-primary" type="submit" name="submitFaskes">Tambah</button>

                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>