<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/fragment :: head(title='Ubah Faskes')">
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-header text-white bg-secondary">
            <center><h4><b>Update Faskes</b></h4></center>
        </div>
        <div class="card-body">
            <div class="justify-content-center">
                <form th:action="@{/faskes/ubah/}" th:object="${faskes}" method="POST">
                    <input type="hidden" th:field="*{idFaskes}" />
                    <input type="hidden" th:field="*{listPasien}" />

                    Nama Faskes : <br>
                    <input required class="form-control" type="text" name="namaFaskes" th:value="*{namaFaskes}"/>
                    <br><br>

                    Kuota: <br>
                    <input required class="form-control" type="text" name="kuota" th:value="*{kuota}"/>
                    <br><br>

                    Provinsi : <br>
                    <input required min="0" class="form-control" type="text" name="provinsi" th:value="*{provinsi}"/>
                    <br><br>

                    Kabupaten : <br>
                    <input required class="form-control" type="text" name="kabupaten" th:value="*{kabupaten}"/>
                    <br><br>

                    Jam Mulai : <br>
                    <input required class="form-control" type="time" name="jamMulai" th:value="*{jamMulai}"/>
                    <br><br>

                    Jam Selesai : <br>
                    <input required class="form-control" type="time" name="jamTutup" th:value="*{jamTutup}"/>
                    <br><br>


                    <span th:if="${punyaPasien}">
<!--                        <input required class="form-control" type="text" name="kabupaten" th:field="*{vaksin}" hidden/>-->
<!--                        <input th:field="*{vaksin}" disabled/>-->
                        <input type="hidden" th:field="*{vaksin.idVaksin}" />
                        <br><br>
                    </span>


                    <span th:unless="${punyaPasien}">
                        Vaksin : <br>
                    <td>
                        <select th:field="*{vaksin.idVaksin}" class="form-control">
                            <option th:each="vaksin : ${listAllVaksin}"
                                    th:value="${vaksin.idVaksin}"
                                    th:text="${vaksin.jenisVaksin}">
                            </option>
                        </select>
                    </td>
                    <br><br>
                    </span>

                    <a class="btn btn-primary" href="/">Batal</a>
                    <button class="btn btn-primary" type="submit">Ubah</button>

                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>