<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/fragment :: head(title='Faskes')">
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
  <div class="card">
    <div class="card-header text-white bg-secondary">
      <center><h4><b>Faskes</b></h4></center>
    </div>
    <div class="card-body">
      <h2>
        Faskes Memiliki Pasien
      </h2>
      <h5>
        Tidak dapat di-delete
      </h5>
      <a href="/faskes" class="btn btn-primary">Kembali</a>
    </div>
  </div>
  <footer th:replace="fragments/fragment :: footer"></footer>
</div>
</body>
</html>