<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Faskes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <br>
    <a href="/faskes/tambah" class="btn btn-primary">Tambah Faskes</a>
    <br><br>
    <div class="card">
        <div class="card-header text-white bg-secondary">
            <center><h4><b>Daftar Faskes</b></h4></center>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Kuota</th>
                    <th>Provinsi</th>
                    <th>Kabupaten</th>
                    <th>Jam Mulai</th>
                    <th>Jam Selesai</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="faskes, iterationStatus : ${listFaskes}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${faskes.namaFaskes}"></td>
                    <td th:text="${faskes.kuota}"></td>
                    <td th:text="${faskes.provinsi}"></td>
                    <td th:text="${faskes.kabupaten}"></td>
                    <td th:text="${faskes.jamMulai}"></td>
                    <td th:text="${faskes.jamTutup}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/faskes/} + ${faskes.idFaskes}">Lihat</a>
                        <a class="btn btn-warning" th:href="@{/faskes/ubah/} + ${faskes.idFaskes}">Ubah</a>
                        <a class="btn btn-danger" th:href="@{/faskes/hapus/} + ${faskes.idFaskes}">Hapus</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>