<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/fragment :: head(title='SiVaksin')">
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <br>
    <a href="/pasien/tambah" class="btn btn-primary">Tambah Pasien</a>
    <br><br>
    <div class="card">
        <div class="card-header text-white bg-secondary">
        <center><h4><b>Daftar Pasien</b></h4></center>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>NIK</th>
                    <th>Nomor Telepon</th>
                    <th>Jenis Kelamin</th>
                    <th>Tanggal Lahir</th>
                    <th>Tempat Lahir</th>
                    <th>Pekerjaan</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pasien, iterationStatus : ${listPasien}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${pasien.namaPasien}"></td>
                    <td th:text="${pasien.nik}"></td>
                    <td th:text="${pasien.nomorTelepon}"></td>
                    <td th:if="${pasien.jenisKelamin} == 0">Laki-Laki</td>
                    <td th:if="${pasien.jenisKelamin} == 1">Perempuan</td>
                    <td th:text="${#temporals.day(pasien.tanggalLahir)} + ' ' + ${#temporals.monthName(pasien.tanggalLahir)} + ' '+ ${#temporals.year(pasien.tanggalLahir)}"></td>
                    <td th:text="${pasien.tempatLahir}"></td>
                    <td th:text="${pasien.pekerjaan}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/pasien/} + ${pasien.idPasien}">Lihat</a>
                        <a class="btn btn-warning" th:href="@{/pasien/ubah/} + ${pasien.idPasien}">Ubah</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>